<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include "header.html" %}
<div class="wrapper">
  <div class="">
    <div class="product-info">
      <h1>Наш проект...</h1>
      <hr>
      <div class="desc">
        Проект называется "Blood, sweat and tears". Понимаете, название говорящее... Полностью отражает содержание.
        <br><hr>
    1. Во-первых, идея проекта - его самая важная часть. Тут всё очень оригинально, думаем, возражений нет.<br>
    2. Далее, главная способность настоящих программистов - умение пользоваться всеми доступными ресурсами, особенно Ctrl+C и Ctrl+V. Это мы освоили хорошо.<br>
    3. В-третьих, мы очень старались сделать всё по красоте.<br>
    4. Надеемся, вы оцените его по достоинству (100 баллов с макс коэффициентом) вам не сложно, нам приятно!<br>
          <br>Приятного путешествия по разным кнопочкам этого замечательного ресурса!

 <br><hr>
      </div>
    </div>

  </div>
</div>


</div> <!-- product -->
</div> <!-- wrapper -->
<script src="/static/js/scripts.js"></script>
</body>
</html>